.imageswipe {
    //background-color: $c-darkgray;
    padding: 0.9375rem 0;

    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    //scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    // @media screen and (min-width: 110em) {
    //     padding-left: calc(50vw - #{$global-width/2});
    // }
}

.imageswipe__item {
    flex: 0 0 auto;
    height: 45vw;
    max-height: 25rem;
    margin-left: 0.9375rem;

    &:last-child() {
        padding-right: 0.9375rem;
    }

    a {
        display: block;
        height: 100%;
        width: 100%;
        background-color: #fff;
        padding: 5px;
        border: 1px solid darken($c-lightrose, 2.5%);
    }

    img {
        height: 100%;
        width:auto;

        transition: all 0.2s ease;
        display: block;
    }

    figcaption {
        display: none;
    }

    .imageswipe--tiny & {

        margin-left: 0.9375rem;
        height: 33.33vw;
        max-height: 20rem;

        a {
            background-color: $c-lightrose;
            background-clip: content-box;

            &:hover,
            &:focus {

                img {
                    mix-blend-mode: normal;
                    filter: grayscale(0) brightness(1);
                }
            }
        }

        img {
            mix-blend-mode: multiply;
            filter: grayscale(.875) brightness(.75);
        }
    }
}
